<div id="similar_products_modal">
  <div class="similar_products_modal-content">
    <span class="ebcf_close">&times;</span>
    {% for similar_collections in product.collections %}
      {% if similar_collections.handle contains 'similar' %}
        {% assign similar_collection = similar_collections %}
      {% endif %}
    {% endfor %}

    <div class="similar_products_modal-heading">
      <p>Explore more styles</p>
    </div>

    <p class="similar_products_modal-subheading">Popular</p>

    {%- for similar_product in similar_collection.products -%}
      {% unless product.title == similar_product.title %}
        {% liquid
            if similar_product.metafields.Image.override_image
              assign preview_image = similar_product.metafields.Image.override_image
              assign img_url = preview_image | img_url: '1x1', format:'pjpg' | replace: '_1x1.', '_64x.' 
            else
              assign preview_image = similar_product.featured_media.preview_image
              assign img_url = preview_image | img_url: '1x1', format:'pjpg' | replace: '_1x1.', '_64x.'
            endif
        %}

        {% if forloop.index < 4 %}
          <li>
            <a href="{{ similar_product.url }}">
              <div class="similar_product_img_wrapper">
                {% if similar_product.metafields.Image.override_image %}
                  <img
                    class="Image--lazyLoad lazyload"
                    data-src="{{ similar_product.metafields.Image.override_image }}"
                    width="64px">
                {% else %}
                  <div class="image-wrap" style="height: 0; padding-bottom: {{ 100 | divided_by: preview_image.aspect_ratio }}%;">
                    <img
                      class="grid-product__image lazyload Image--lazyLoad"
                      data-src="{{ img_url }}"
                      data-sizes="auto"
                      alt="{{ preview_image.alt | escape }}">
                    <noscript>
                      <img
                        class="grid-product__image lazyloaded Image--lazyLoad"
                        data-src="{{ preview_image | img_url: '64x', format:'pjpg' }}"
                        alt="{{ preview_image.alt | escape }}">
                    </noscript>
                  </div>
                {% endif %}
              </div>
              <div class="similar_product_content">
                <div class="similar_product_title">
                  {% if similar_product.metafields.global.product_type_for_shop_the_look %}
                    {% assign product_type = similar_product.metafields.global.product_type_for_shop_the_look | split: '/' %}
                    {% for item in product_type %}
                      <p class="{% if forloop.index == 1 %} type_title {% endif %}">{{ item }}</p>
                    {% endfor %}
                  {% else %}
                    <p class="type_title">{{ similar_product.title }}</p>
                  {% endif %}
                </div>
                <div class="similar_product_price">
                  {%- assign hide_sale_price = true -%}
                  {%- if similar_product.compare_at_price_max > similar_product.price -%}
                    {%- if similar_product.selected_or_first_available_variant.compare_at_price > similar_product.selected_or_first_available_variant.price -%}
                      {%- assign hide_sale_price = false -%}
                    {%- endif -%}

                    <span
                      id="PriceA11y-{{ section_id }}"
                      class="visually-hidden"
                      aria-hidden="{{ hide_sale_price }}">
                      {{ 'products.general.regular_price' | t }}
                    </span>
                    <span class="product__price-wrap-{{ section_id }}{% if hide_sale_price %} hide{% endif %}">
                      <span id="ComparePrice-{{ section_id }}" class="product__price product__price--compare">
                        {%- if similar_product.selected_or_first_available_variant.compare_at_price > similar_product.selected_or_first_available_variant.price -%}
                          {{ similar_product.selected_or_first_available_variant.compare_at_price | money }}
                        {%- endif -%}
                      </span>
                    </span>
                    <span id="ComparePriceA11y-{{ section_id }}" class="visually-hidden">{{ 'products.general.sale_price' | t }}</span>
                  {%- else -%}
                    <span id="PriceA11y-{{ section_id }}" class="visually-hidden">{{ 'products.general.regular_price' | t }}</span>
                  {%- endif -%}

                  <span id="ProductPrice-{{ section_id }}"class="product__price{% if similar_product.selected_or_first_available_variant.compare_at_price > similar_product.selected_or_first_available_variant.price %} on-sale{% endif %}">
                    {{ similar_product.selected_or_first_available_variant.price | money }}
                  </span>

                  {%- if settings.product_save_amount -%}
                    {%- if settings.product_save_type == 'dollar' -%}
                      {%- capture saved_amount -%}
                        {{ similar_product.selected_or_first_available_variant.compare_at_price | minus: similar_product.selected_or_first_available_variant.price | money }}{%- endcapture -%}
                    {%- else -%}
                      {%- capture saved_amount -%}
                        {{ similar_product.selected_or_first_available_variant.compare_at_price | minus: similar_product.selected_or_first_available_variant.price | times: 100.0 | divided_by: similar_product.selected_or_first_available_variant.compare_at_price | round }}%{%- endcapture -%}
                    {%- endif -%}
                    <span id="SavePrice-{{ section_id }}" class="product__price-savings{% if hide_sale_price %} hide{% endif %}">
                      {%- unless hide_sale_price -%}
                        {{ 'products.general.save_html' | t: saved_amount: saved_amount }}
                      {%- endunless -%}
                    </span>
                  {%- endif -%}

                  <div class="product__unit-price product__unit-price--spacing product__unit-price-wrapper--{{ section_id }}{% unless similar_product.selected_or_first_available_variant.unit_price_measurement %} hide{% endunless %}">
                    {%- capture unit_price_base_unit -%}
                      <span class="product__unit-base--{{ section_id }}">
                        {%- if similar_product.selected_or_first_available_variant.unit_price_measurement -%}
                          {%- if similar_product.selected_or_first_available_variant.unit_price_measurement.reference_value != 1 -%}
                            {{ similar_product.selected_or_first_available_variant.unit_price_measurement.reference_value }}
                          {%- endif -%}
                          {{ similar_product.selected_or_first_available_variant.unit_price_measurement.reference_unit }}
                        {%- endif -%}
                      </span>
                    {%- endcapture -%}

                    <span class="product__unit-price--{{ section_id }}">{{ similar_product.selected_or_first_available_variant.unit_price | money }}</span>/{{ unit_price_base_unit }}
                  </div>
                </div>
              </div>
            </a>
          </li>
        {% endif %}
      {% endunless %}
    {%- endfor -%}

    <p class="similar_products_modal-subheading">More Styles</p>

    {%- for similar_product in similar_collection.products -%}
      {% unless product.title == similar_product.title %}
        {% liquid
            if similar_product.metafields.Image.override_image
              assign preview_image = similar_product.metafields.Image.override_image
              assign img_url = preview_image | img_url: '1x1', format:'pjpg' | replace: '_1x1.', '_64x.' 
            else
              assign preview_image = similar_product.featured_media.preview_image
              assign img_url = preview_image | img_url: '1x1', format:'pjpg' | replace: '_1x1.', '_64x.'
            endif
        %}

        {% if forloop.index > 3 and forloop.index < 17 %}
          <li {% if forloop.index > 7 %}class="more_styles"{% endif %}>
            <a href="{{ similar_product.url }}">
              <div class="similar_product_img_wrapper">
                {% if similar_product.metafields.Image.override_image %}
                  <img
                    class="Image--lazyLoad lazyload"
                    data-src="{{ similar_product.metafields.Image.override_image }}"
                    width="64px">
                {% else %}
                  <div class="image-wrap" style="height: 0; padding-bottom: {{ 100 | divided_by: preview_image.aspect_ratio }}%;">
                    <img
                      class="grid-product__image lazyload Image--lazyLoad"
                      data-src="{{ img_url }}"
                      data-sizes="auto"
                      alt="{{ preview_image.alt | escape }}">
                    <noscript>
                      <img
                        class="grid-product__image lazyloaded Image--lazyLoad"
                        data-src="{{ preview_image | img_url: '64x', format:'pjpg' }}"
                        alt="{{ preview_image.alt | escape }}">
                    </noscript>
                  </div>
                {% endif %}
              </div>
              <div class="similar_product_content">
                <div class="similar_product_title">
                  {% if similar_product.metafields.global.product_type_for_shop_the_look %}
                    {% assign product_type = similar_product.metafields.global.product_type_for_shop_the_look | split: '/' %}
                    {% for item in product_type %}
                      <p class="{% if forloop.index == 1 %} type_title {% endif %}">{{ item }}</p>
                    {% endfor %}
                  {% else %}
                    <p class="type_title">{{ similar_product.title }}</p>
                  {% endif %}
                </div>
                <div class="similar_product_price">
                  {%- assign hide_sale_price = true -%}
                  {%- if similar_product.compare_at_price_max > similar_product.price -%}
                    {%- if similar_product.selected_or_first_available_variant.compare_at_price > similar_product.selected_or_first_available_variant.price -%}
                      {%- assign hide_sale_price = false -%}
                    {%- endif -%}

                    <span
                      id="PriceA11y-{{ section_id }}"
                      class="visually-hidden"
                      aria-hidden="{{ hide_sale_price }}">
                      {{ 'products.general.regular_price' | t }}
                    </span>
                    <span class="product__price-wrap-{{ section_id }}{% if hide_sale_price %} hide{% endif %}">
                      <span id="ComparePrice-{{ section_id }}" class="product__price product__price--compare">
                        {%- if similar_product.selected_or_first_available_variant.compare_at_price > similar_product.selected_or_first_available_variant.price -%}
                          {{ similar_product.selected_or_first_available_variant.compare_at_price | money }}
                        {%- endif -%}
                      </span>
                    </span>
                    <span id="ComparePriceA11y-{{ section_id }}" class="visually-hidden">{{ 'products.general.sale_price' | t }}</span>
                  {%- else -%}
                    <span id="PriceA11y-{{ section_id }}" class="visually-hidden">{{ 'products.general.regular_price' | t }}</span>
                  {%- endif -%}

                  <span id="ProductPrice-{{ section_id }}"class="product__price{% if similar_product.selected_or_first_available_variant.compare_at_price > similar_product.selected_or_first_available_variant.price %} on-sale{% endif %}">
                    {{ similar_product.selected_or_first_available_variant.price | money }}
                  </span>

                  {%- if settings.product_save_amount -%}
                    {%- if settings.product_save_type == 'dollar' -%}
                      {%- capture saved_amount -%}
                        {{ similar_product.selected_or_first_available_variant.compare_at_price | minus: similar_product.selected_or_first_available_variant.price | money }}{%- endcapture -%}
                    {%- else -%}
                      {%- capture saved_amount -%}
                        {{ similar_product.selected_or_first_available_variant.compare_at_price | minus: similar_product.selected_or_first_available_variant.price | times: 100.0 | divided_by: similar_product.selected_or_first_available_variant.compare_at_price | round }}%{%- endcapture -%}
                    {%- endif -%}
                    <span id="SavePrice-{{ section_id }}" class="product__price-savings{% if hide_sale_price %} hide{% endif %}">
                      {%- unless hide_sale_price -%}
                        {{ 'products.general.save_html' | t: saved_amount: saved_amount }}
                      {%- endunless -%}
                    </span>
                  {%- endif -%}

                  <div class="product__unit-price product__unit-price--spacing product__unit-price-wrapper--{{ section_id }}{% unless similar_product.selected_or_first_available_variant.unit_price_measurement %} hide{% endunless %}">
                    {%- capture unit_price_base_unit -%}
                      <span class="product__unit-base--{{ section_id }}">
                        {%- if similar_product.selected_or_first_available_variant.unit_price_measurement -%}
                          {%- if similar_product.selected_or_first_available_variant.unit_price_measurement.reference_value != 1 -%}
                            {{ similar_product.selected_or_first_available_variant.unit_price_measurement.reference_value }}
                          {%- endif -%}
                          {{ similar_product.selected_or_first_available_variant.unit_price_measurement.reference_unit }}
                        {%- endif -%}
                      </span>
                    {%- endcapture -%}

                    <span class="product__unit-price--{{ section_id }}">{{ similar_product.selected_or_first_available_variant.unit_price | money }}</span>/{{ unit_price_base_unit }}
                  </div>
                </div>
              </div>
            </a>
          </li>
        {% endif %}
      {% endunless %}
    {%- endfor -%}

    <div class="simliar_load_more">
      <button type="button">
        <span>Load more</span>
      </button>
    </div>

  </div>
</div>

<style>
  .slick-arrow {
    position: absolute;
    top: 30%;
    left: 0;
    z-index: 2;
    background: #000;
    min-width: auto !important;
    width: 20px;
    height: 40px;
    padding: 0;
    border: 0;
    outline: none;
    color: #fff;
    opacity: .3;
    transform: translateY(-50%);
    transition: opacity 0.25s ease-out;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .slick-arrow:hover {
    opacity: 1;
  }

  .slick-next {
    right: 0;
    left: auto;
  }
  .slick-next::before {
    display: inline-flex;
    content: '';
    background-image: url("{{ 'next-arrow.svg' | asset_url }}");
    background-size: 14px 14px;
    height: 14px;
    width: 14px;
  }
  .slick-prev::before {
    display: inline-flex;
    content: '';
    background-image: url("{{ 'prev-arrow.svg' | asset_url }}");
    background-size: 14px 14px;
    height: 14px;
    width: 14px;
  }
</style>

<script>


  $('.simliar_products').slick({
    dots: false,
    speed: 500,
    slidesToShow: 4,
    slidesToScroll: 1,
    arrows: true,
    responsive: [
      {
        breakpoint: 780,
        settings: {
          slidesToShow: 3,
          slidesToScroll: 1
        }
      }, {
        breakpoint: 600,
        settings: "unslick"
      }
    ]
  });
</script>
<style>
  @media only screen and (max-width: 600px) {
    .simliar_products {
      display: flex;
    }
    .similar_products_wrappers {
      overflow: hidden;
      overflow-x: scroll;
    }
    .simliar_products .grid__item {
      width: 39vw;
      flex: 0 0 39vw;
      display: inline-block;
      float: none;
      white-space: normal;
    }
  }
</style>