{% section 'product-template' %}
{% render 'judgeme_widgets', widget_type: 'judgeme_review_widget', concierge_install: true, auto_install: true, product: product %}{% include 'wiser_recent_related' %}
{% section 'product-story-sections' %}
{% section 'product-recommendations' %}
{% section 'recently-viewed' %}

{% if collection %}
  <div class="text-center page-content page-content--bottom">
    <a href="{% if collection.handle == 'frontpage' %}/{% else %}{{ collection.url }}{% endif %}" class="btn btn--small return-link">
      <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-arrow-left" viewBox="0 0 50 15"><path d="M50 5.38v4.25H15V15L0 7.5 15 0v5.38z"/></svg> {{ 'products.general.collection_return' | t: collection: collection.title }}
    </a>
  </div>
{% endif %}


{% comment %}

<a id="bottom"></a>
      <h1 style="text-align:center;" class="review-heading">Real Reviews, Real Customers ✨</h1>
      <div id="stamped-reviews-widget" class="bottom" data-widget-type="wall-photos" data-with-photos="true"></div>






<!--Start Stamped.io Auto Installation--><!--<div id="stamped-main-widget" class="stamped-main-widget" data-widget-style="standard" data-product-id="{{ product.id }}" data-name="{{ product.title | escape }}" data-url="{{ shop.url }}{{ product.url }}" data-image-url="{{ product.featured_image | product_img_url: "large" |replace: '?', '%3F' | replace: '&','%26'}}" data-description="{{ product.description | escape }}" data-product-sku="{{product.handle}}" data-product-type="{{product.type}}">{{ product.metafields.stamped.reviews }}</div>--><!--End Stamped.io Auto Installation-->
<script type="text/javascript">
  var _learnq = _learnq || [];

  var item = {
    Name: {{ product.title|json }},
    ProductID: {{ product.id|json }},
    Categories: {{ product.collections|map:'title'|json }},
    ImageURL: "https:{{ product.featured_image.src|img_url:'grande' }}",
    URL: "{{ shop.secure_url }}{{ product.url }}",
    Brand: {{ product.vendor|json }},
    Price: {{ product.price|money|json }},
    CompareAtPrice: {{ product.compare_at_price_max|money|json }}
  };

  _learnq.push(['track', 'Viewed Product', item]);
  _learnq.push(['trackViewedItem', {
    Title: item.Name,
    ItemId: item.ProductID,
    Categories: item.Categories,
    ImageUrl: item.ImageURL,
    Url: item.URL,
    Metadata: {
      Brand: item.Brand,
      Price: item.Price,
      CompareAtPrice: item.CompareAtPrice
    }
  }]);
</script>



<script type="text/javascript">
  var _learnq = _learnq || [];
  document.querySelector('.gf_add-to-cart').addEventListener('click',function (){
    _learnq.push(['track', 'Added to Cart', item]);
  });
</script>
<script type="text/javascript">
  var _learnq = _learnq || [];
  document.querySelector('.btn btn--full').addEventListener('click',function (){
    _learnq.push(['track', 'Added to Cart', item]);
  });
</script>
<script type="text/javascript">
  var _learnq = _learnq || [];
  document.querySelector('.AddToCartText').addEventListener('click',function (){
    _learnq.push(['track', 'Added to Cart', item]);
  });
</script>

{% endcomment %}
<div data-rebuy-id="89169" data-rebuy-shopify-product-ids="{{ product.id }}"></div>
 {% render 'cross-sell' %}